 <div class="welcome-btns">
    <div class="welcome-btn">
      <%= link_to 'SIGN UP', new_team_path, class: "welcome-btn btn indigo darken-4" %>
    </div>
    <div class=" welcome-btn">
      <%= link_to 'SIGN IN', login_path, class: "welcome-btn btn indigo darken-4" %>
    </div>
  </div>