<div class="welcome-container">
  <div class="welcome-title">
    <h1> Welcome to the Robot Sports League</h1>
    <h2> Sign in or register below! </h2>
  </div>
  <div class="welcome-btns">
    <div class="welcome-btn">
      <%= link_to 'SIGN UP', new_team_path, class: "welcome-btn waves-effect waves-light btn indigo darken-4" %>
    </div>
    <div class=" welcome-btn">
      <%= link_to 'SIGN IN', login_path, class: "welcome-btn waves-effect waves-light btn indigo darken-4" %>
    </div>
  </div>
</div>