body {
  font-family: 'Roboto', sans-serif;
}

nav {
  padding-left: 20px;
  padding-right: 20px;
}

.welcome-title{
  text-align: center;
}

.welcome-btns{
  display: flex;
  justify-content: center;
  height: 500px;
}

a.welcome-btn{
  font-size: 32px;
  padding-top: 30px;
  border-radius: 7px;
  margin: 15px;
  width: 200px;
  height: 100px;
}

.waves-button-input{
  color: white;
}

 .roster-role {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.roster-btn {
  display: block;
  width: 25%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}


div.player-card {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

div.team-form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;;
}

div.button-container {
  width: 100%;
}
